@page "/"

<PageTitle>Home</PageTitle>

<button class="btn btn-warning" @onclick="OnButtonClick">Click Me</button>

@code {
    private void OnButtonClick()
    {
        Console.WriteLine("Button clicked!");
    }
}
