@page "/"
@rendermode InteractiveServer
<h3>Button Click Counter</h3>

<p>Button clicked @counter times.</p>

<button class="btn btn-primary" @onclick="IncrementCounter">Click me</button>

@code {
    private int counter = 0;

    private void IncrementCounter()
    {
        counter++;
    }
}
